<html>
<body>
    <table>
        <tr>
            <td>id</td>
            <td>nome</td>
        </tr>
        <tr>
            <td>1</td>
            <td>livro de node js</td>
        </tr>
    </table>
    <a href="/">Voltar</a>
</body>
</html>