<html>
    <body>
        <form action="/produtos/salvar" method="POST">
            <div>
                <label for="titulo">Título</label>
                <input type="text" id="txtTitulo" name="txtTitulo" placeholder="Título do livro" />
            </div>
            <div>
                <label for="preco">Preço</label>
                <input type="text" id="txtPreco" name="txtPreco" placeholder="100.00" />
            </div>
            <div>
                <label for="titulo">Descrição</label>
                <textarea rows="5" id="txtDescricao" name="txtDescricao" placeholder="Fale sobre o livro" ></textarea>
            </div>
            <div>
                <input type="submit" value="Salvar">Salvar</button>
            </div>
        </form>
    </body>
</html>